# ===== APP =====
PORT=3000
NODE_ENV=development

# ===== REDIS =====
REDIS_PATH=localhost
REDIS_PORT=6379

# ===== POSTGRES – WRITE (PRIMARY via HAProxy) =====
DB_WRITE_HOST=localhost
DB_WRITE_PORT=5432
DB_WRITE_USER=app
DB_WRITE_PASSWORD=app_pwd
DB_WRITE_NAME=appdb

# ===== POSTGRES – READ (REPLICA via HAProxy) =====
DB_READ_HOST=localhost
DB_READ_PORT=5433
DB_READ_USER=app
DB_READ_PASSWORD=app_pwd
DB_READ_NAME=appdb
