global
  maxconn 256

defaults
  mode tcp
  timeout connect 5s
  timeout client 30s
  timeout server 30s

frontend psql
  bind *:5432
  default_backend pg_primary

backend pg_primary
  option tcp-check
  tcp-check connect
  server primary db-primary:5432 check

frontend psql_read
  bind *:5433
  default_backend pg_replica

backend pg_replica
  option tcp-check
  tcp-check connect
  server replica db-replica:5432 check
  server primary db-primary:5432 check backup

